@import url("https://fonts.google.com/specimen/Bai+Jamjuree");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-image: url(bg-header-desktop.png); 
    background-repeat: no-repeat;
    

    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 22vh;
    padding-bottom: 6vh;
    width: 100%;
    
}

header img{ 
    width: 13%;
    min-width: 70px;
    padding-bottom: 3vh;
    margin: 0 auto;   
}
h2{
    font-size: 3em;
    width: 100%;
   
    color: hsl(210, 10%, 33%);
    
}
.first{
    font-size: 1.3em;
    width: 70%;
    color: hsl(201, 11%, 66%);
    padding: 2vh 0;
}
.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3%;
    padding-top: 3vh;
}
.b1 p,.b2 p{
    font-size: 24px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    color: white;
    padding: 1px 6px;
}
a{
    text-decoration: none;
}
.b1:active{
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(2px);
}
.b2:active{
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(2px);

}
.b1,.b2{
    padding: 12px 17px;
    margin: 0;
    border-radius: 31px;
}
.b1{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 1px 5px 0px -1px hsl(171, 66%, 28%);
    
    
}
.b2{
    background-color:hsl(233, 100%, 69%) ;
    box-shadow: 1px 5px 0px -1px hsl(233, 48%, 38%);
}
.button a:focus, .button a:active {
    outline: none;
  }
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;   
    width: 100%;
}

h3{
    font-size: 2.5em;
    width: 100%;
    color: hsl(210, 10%, 33%);  
}
#para{  
    font-size: 1.3em;
    width: 60%;
    color: hsl(201, 11%, 66%);
    padding: 2vh 0;  
}
.laptop{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding-bottom: 12vh;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2vh 4%;
    max-width: 50%;
}
h4{
    color: hsl(210, 10%, 33%);
    font-size: 1.4em;
    

}
p{
    color: hsl(201, 11%, 66%);
    line-height: 2;
    padding-right: 19%;
    text-align: left;
    font-size: 1.4em;

}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img{
    max-width: 100%
}

.right h4{
    margin: 3vh auto;
}

.part4{
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    width: 100%;
    gap: 23px;
    margin-top: 3vh;
    max-width: 100%;
    padding:12vh 0px;
}
.dis{
    padding: 13vh 0px;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;  
     
}

.create h4,.plain h4,.sneak h4{
    font-size: 20px;
}
.part4 p,.part4 p,.part4 p{
    font-size: 17px;
    padding: 0;
    text-align: center;
    line-height: normal;
}
.plain img,.sneak img{
    padding-top: 5px;
    padding-bottom: 3px;
}
.part5{
    margin: 15vh 0;
    width: 90%; 
   
    display: flex;
    justify-content: space-evenly;
}
.part5 img{
    width: 150px;
    height: 50px;
}
.part6{
    height:20px
}
footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 23px;
    margin: 4vh auto;
    background-color:  hsl(201, 11%, 66%);
    margin-bottom: 0%;
    margin-top: 18vh;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.social img{
    padding-left: 9px;
    width: 40px;
}
footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logo img{
    width: 60px;
}
footer .ques{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    color: hsl(210, 10%, 33%);
    width: 60%;
}

@media (max-width:1350px) {
    .laptop{
        display: flex;
        flex-direction: column;
        
    }
    .left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left img{
        max-width: 100%;
    }
    .right{
        text-align: center;
        line-height: normal;
        max-width: 100%;
    }
    .right p{
        padding-right: 0%;
        text-align: center;
        line-height: normal; 
    }
    .dis{
        max-width: 100%;
    }
    .dis img{
        max-width: 100%;
    }
    .button a:focus, .button a:active {
    outline: none;
  }
   
}
@media (max-width:1164px) {
    body{
        font-size: 14px;
    }
    header .first{
        text-align: center;
        
    }
    header{
        padding-top: 15vh;
    }
    .laptop{
        margin-bottom: 4vh;
    }
    .part4{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .part5{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        margin-top: 5vh;
    }
    .button a:focus, .button a:active {
    outline: none;
  }

}
@media (max-width:553px) {
    .button{
        flex-direction: column;
        margin-top: 0;
    }
    .b2{
        margin-top: 3vh;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .social{
        width: 100%;
    }
    footer .logo{
        width: 100%;
    }
    footer .ques{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        place-items: center;
        font-size: medium;
        margin: 3vh 0px;
    }
    .button a:focus, .button a:active {
    outline: none;
  }
}
@media (max-width:425px) {
    body{
        font-size: 10px;
        padding: 0; 
        background-image: url(bg-header-mobile.png);
        background-repeat: no-repeat;
        
    }
    .container{
        width: 100%;
        
    }
    header{
        width: 95%;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 10vh;
    }
    header .first{
        font-size: 2em;
        width: 100%;
    }
    main{
        padding-top: 3vh;
        width: 95%;
    }
    main #para{
        width: 100%;
        font-size: 2em;
    }
    .quick h4,.icloud h4 ,.history h4{
        font-size: 2em;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    .quick p,.icloud p,.history p{
        font-size: 1.7em;
    }
    .button a:focus, .button a:active {
    outline: none;
  }
}


